[Unit]
Description=Send Seeder
After=network.target

[Service]
ExecStart=/usr/local/bin/dnsseed -h seed.send.goldlineit.org -n send.goldlineit.org -m smyers.goldlineit.org -p 5353
User=root
Group=root

Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
